.chatCard {
    max-width: 600px;
    min-width: 600px;
    height: 500px;
    flex: 1 1 auto;
}

.chat-author {
    color: grey;
}

.form {
    position: absolute;
    bottom:0;
    width: 95%;
    display:inline;
}
.scrollable {
    overflow: auto;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    top: 30px;
    width: 100%;
    height: 300px;
}
