<p></p>
<div class="ftGrid">
    <mat-grid-list cols="2">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
            <fortune-teller-details-card [fortuneTeller]=fortuneTeller></fortune-teller-details-card>
        </mat-grid-tile>
        <mat-grid-tile>
            <chat-card [chat]=chat *ngIf="chatActive === true" [isFT]='false'></chat-card>

            <mat-card class="chat" *ngIf="chatActive === false">
                <mat-card-header>
                    <mat-card-title>Porozmawiaj z wróżką</mat-card-title>
                </mat-card-header>
                <mat-card-actions>
                    <button id="basic" type="button" mat-button (click)="activateChat()">
                        Zacznij rozmowe
                    </button>
                </mat-card-actions>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>